

// PÁGINA PRINCIPAL */


/* FOOTER */



/* ABAS */

.section-body{
    background-image: url(../images/darkside2023.jpg);
    background-size: contain;
    background-position: center top;
    background-repeat: repeat;
}
.section-logo{
    margin: 25px auto;
    text-align: center;
}
#section-logo{
    height: auto;
    width: 400px;
}
.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.page-container{
    margin: 30px 5px;
    display: flex;
    flex-direction: column;
    border: 5px black groove;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.8);
}
.container-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 5px black groove;
    padding: 8px;
    text-transform: uppercase;
}
.container-title{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.container-content{
    display: flex;
    justify-content: space-between;
    height: 225px;
    padding: 0px;
}
.container-picture{
    width: 225px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 10px;
}
.container-picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 0 10px;
}
.container-description{
    height: 225px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    padding-left: 5px;
    border-radius: 0px 15px 15px 0px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    border-left: 5px black groove;
}



