footer{
    background-color: #111;
    padding: 20px;
    @include flexbox(row, space-between, center);
    @include text-style(#666, 35px, 'Oswald');
    text-transform: uppercase;

    .official-site{
        @include flexbox(row, none,  none);
        gap: 15px;
    
        a{
            @include flexbox(row, none,  center);
            gap: 15px;
        }
    }
    .insta{
        @include square(none, 40px, 40px);
    }
    .creddits{
        @include flexbox(column, none,  center);
        gap: 25px;
        text-transform: none;
    

        a{
            @include flexbox(row, none,  center);
            gap: 10px;
        }
    }
}
.links{
    text-transform: lowercase;
    color: white;
}