// @media (min-width: 2300px){
//     /* PÁGINA INICIAL */
//     #title{
//         font-size: 100px;
//     }
//     .container{
//         margin-bottom: 100px;
//     }
//     .section{
//         margin: 40px;
//         font-size: 80px;
//     }
//     .button-image{
//         margin-top: 100px;
//         height: 350px;
//         width: 350px;
//     }
//     /* FOOTER */
//     footer{
//         font-size: 40px;
//         padding: 40px;
//     }
//     /* ABAS */
//     #section-logo{
//         width: 600px;
//     }
//     .container-top{
//         border-width: 8px;
//     }
//     .container-title{
//         font-size: 40px;
//     }
//     .container-content{
//         height: 450px;
//     }
//     .container-picture, .container-picture img{
//         height: 450px;
//         width: 450px;
//     }
//     .container-description, .container-description p{
//         height: 450px;
//         width: 600px;
//         font-size: 29px;
//     }
//     /* CURIOSIDADES APENAS */
//     .curiosity-picture{
//         width: 1000px;
//         height: 650px;
//     }
//     .curiosity-content{
//         width: 1000px;
//     }
//     .curiosity-description{
//         font-size: 31px;
//     }
// }
@media (max-width: 1300px){
    /* APENAS DISCOGRAFIA */
    #video-container{
        width: 90%;
        padding: 0px;
        max-height: none;
    }
    #videoPlayer{
        width: 100%;
        max-height: none;
    }
}
@media (max-width: 1150px){
    /* FOOTER */
    footer{
        flex-direction: column;
        gap: 35px;
    }
    /* ABAS */
    .section-body{
        background-size: auto;
    }
}
@media (max-width: 1000px){
    /* PÁGINA INICIAL */
    #title{
        font-size: 40px;
        padding: 0 10px;
        margin-bottom: 60px;
    }
    .button-text{
        font-size: 60px;
    }
    /* APENAS DISCOGRAFIA */
    .modal-content{
        margin-top: 30px;
        width: 80%;
        padding: 20px 0px;
    }
    #video-container{
        width: 90%;
        padding: 0px;
        max-height: none;
    }
    #videoPlayer{
        width: 100%;
        max-height: none;
    }
}
@media (max-width: 620px){
    /* PÁGINA PRINCIPAL */
    .logo a img{
        width: 90%;
    }
    .section{
        width: 80%;
    }
    /* FOOTER */
    footer p, footer a{
        font-size: 19px;
    }
    /* ABAS */
    #section-logo{
        width: 60%;
    }
    .section-body{
        background-size: auto;
    }
    .page-container{
        width: 360px;
    }
    .container-top{
        flex-direction: column;
        gap: 10px;
    }
    .container-title{
        font-size: 25px;
    }
    .container-content{
        flex-direction: column;
        width: 360px;
        height: 580px;
        align-items: center;
        justify-content: start;
    }
    .container-picture{
        width: 100%;
        height: 360px;
        border-bottom: 5px black groove;
        border-radius: 0px;
    }
    .container-picture img{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .container-description{
        width: 95%;
        border: none;
    }
    /* APENAS DISCOGRAFIA */
    #age{
        font-size: 45px;
    }
    #years{
        font-size: 30px;
    }
    /* APENAS MEMBROS */
    .member-picture{
        height: 100%;
    }
    /* APENAS CURIOSIDADE */
    .curiosity-picture{
        width: 100%;
        height: auto;
    }
    .curiosity-content{
        width: 100%;
    }
    .curiosity-description{
        font-size: 19px;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 500px){
    /* APENAS DISCOGRAFIA */
    .modal-content, #video-container{
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        padding: 20px 0px;
    }
    #videoPlayer, #video-container{
        width: 100%;
        padding: 0px;
    }
}
@media (max-width: 400px){
    .button-text{
        font-size: 40px;
    }
    /* FOOTER */
    footer p, footer a{
        font-size: 15px;
    }
    /* ABAS */
    #section-logo{
        width: 90%;
    }
    .page-container{
        max-width: 260px;
    }
    .container-picture{
        min-height: 260px;
        height: 260px;
    }
    .container-content, .container-description{
        width: 260px;
        height: 550px;
    }
    .container-description{
        width: 95%;
    }
    /* APENAS DISCOGRAFIA */
    #age{
        font-size: 30px;
    }
    #years{
        font-size: 20px;
    }
    /* APENAS CURIOSIDADE */
    .curiosity-description{
        font-size: 17px;
    }
}