.curiosity-picture{
    @include square(0, 450px, 700px);
    img{
        @include square(0, 100%, 100%);
        object-fit: cover;
    }
}
.curiosity-content{
    @include flexbox(column, start, none);
    padding: 0px;
    height: 100%;
    width: 700px;

    .curiosity-description{
        @include flexbox(row, center, center);
        @include text-style(black, 22px, ('Oswald', sans-serif));
        @include square(0 0 15px 15px, auto, 100%);
        line-height: 1.5;
        border-top: 5px black groove;
        p{
            width: 95%;
        }
    }
    
}
