.index-body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.logo{
    margin-bottom: 30px;
    text-align: center;
}
#logo{
    @include square(0px, auto, 90%);
    max-width: 900px;
}
#title{
    text-align: center;
    @include text-style(white, 95px, 'Oswald');
    text-transform: uppercase;
    margin-bottom: 120px;
}
.container{
    @include flexbox(row, space-evenly, none);
    flex-wrap: wrap;
    .section{
        @include flexbox(column, none, center);
        @include text-style(white, 75px, 'Oswald');
        text-decoration: none;
        transition: 100ms linear;
        position: relative;
        margin: 0px 40px 100px 40px;
        &:hover{
            transform: scale(1.1);
        }
        &:focus {
            outline: none;
        }
        .button-image{
            @include square(45px, 350px, 350px);
            margin-top: 90px;
            border: 3px transparent solid;
            object-fit: cover;
            @media (max-width: 400px){
                @include square(45px, 250px, 250px);
                margin-top: 60px;
            }
        }
        .button-text{
            color: white;
            position: absolute;
            text-transform: uppercase;
            @media (max-width: 400px){
                font-size: 40px;
            }
        }
    }
}